{% load static wagtailcore_tags wagtailimages_tags %}
<div class="card h-100">
<h4 class="card-header">{{ page.program_slider_title }}</h4>
<div id="program-slider" class="vertical slider">
{% for program_slider in page.program_slider.all %}
<div class="program-images">
<a href="{{ program_slider.program_slider_link.url }}">{% image program_slider.program_slider_image fill-200x140 class="img-fluid" %}</a>
<div class="slick_heading"><a href="{{ program_slider.program_slider_link.url }}">{{ program_slider.program_slider_link }}</a></div>
</div>
{% endfor %}
</div><!--program-slider-->
</div>
