{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags joyous_tags joyous_additions %}
{% block content %}

<div class="container-fluid">
<div class="container">
<div class="row">
<div id="content-left" class="col-xl-9 col-lg-9 col-md-12 mt-2">
<div class="row h-auto">

{% include 'home/header_background.html' %}

{% include 'home/features_first_row.html' %}
            </div><!--row-->
        </div><!--content left-->
{% include 'home/featured_programs_lg_screen.html' %}

</div><!--main row-->
</div><!--container-->
</div><!--container fluid-->

<div class="container-fluid">
<div class="container">
<div class="row">
{% include 'home/featured_programs_regular_screen.html' %}
</div><!--row -->
</div><!--container-->

<div class="container mt-2 mb-2">
<div class="row">
{% include 'home/features_second_row.html' %}
</div><!--row -->
</div>

<div class="container d-none d-md-block mt-2 mb-2">
<div class="row">
{% include 'home/staff_rec_lg_screen.html' %}
</div><!--row -->
</div><!--container -->

<div class="container d-md-none mt-2 mb-2">
<div class="row">    
    {% include 'home/staff_rec_regular_screen.html' %}
</div><!--row -->
</div><!--container -->
</div>

</div><!--row-->
</div><!--container-->

{% endblock %}
